build/
downloads
src/rnnoise_data_little.c
src/rnnoise_data_little.h
src/rnnoise_data.h
src/rnnoise_data.c
CMakeUserPresets.json
.vscode/
.DS_Store
sample_audios/
evaluation_output/
rnnoise_env/
header_only/rnnoise_amalgamated.c
