.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Doxyfile
doc/doxygen-build.stamp
doc/html/
doc/latex/
examples/.deps/
examples/.dirstamp
examples/.libs/
examples/rnnoise_demo
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
package_version
rnnoise-uninstalled.pc
rnnoise.pc
src/.deps/
src/.dirstamp
src/.libs/
stamp-h1
**/*.o
**/*.lo
**/*.la
.vscode/