/configure*
/config.*
/Makefile
/Makefile.in
/package_version
/autom4te.cache/
/depcomp
/libtool
/ltmain.sh
/doc
/.libs/
/*/.libs/
/examples/*
/src/_libs
*/.deps
*/.dirstamp
/missing
/install-sh
/compile
/*.pc
/stamp-h1

*.o
*.so
*.a
*.lo
*.m4

/librnnoise.la
